taller/Debug/vc100.pdb

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/taller-8a529d63/taller-d53d4eb0.ipch
taller.opensdf
taller.sdf
ipch/taller-6e5fade3/taller-d53d4eb0.ipch
